* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font;
  font-size: $day-number-font-size;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  padding: $padding;
  box-sizing: border-box;
  width: calc(
    #{$cols} * #{$day-size} + (#{$cols} - 1) * #{$gap} + 2 * #{$padding}
  );

  &__day {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background-color: $main-color;
    width: $day-size;
    height: $day-size;
    border: $border solid #000;
    transition:
      transform $animation-duration,
      background-color $animation-duration;
  }

  &__day:hover {
    cursor: pointer;
    background-color: $hover-color;
    transform: translateY(-$transform-distance);
  }

  @for $i from 1 through 31 {
    &__day:nth-child(#{$i})::before {
      content: '#{$i}';
      font-family: $font;
      font-size: $day-number-font-size;
    }
  }
}

@each $day, $i in $days-map {
  .calendar--start-day-#{$day} {
    .calendar__day:first-child {
      margin-left: calc(#{$i} * (#{$day-size} + #{$gap}));
    }
  }
}

@for $len from 28 through 31 {
  .calendar--month-length-#{$len} {
    .calendar__day:nth-child(n + #{$len + 1}) {
      display: none;
    }
  }
}
